@model CommunityFinal.Models.Treatment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Treatment</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ADisease.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADisease.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADoctorEntry.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADoctorEntry.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADose.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADose.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AMeal.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMeal.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AMedicine.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMedicine.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
